@charset "utf-8";


/* 초기화 세팅 ******************************************************** */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; box-sizing: border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
button, a, input,input + label { cursor: pointer; }

/* 사이트 기본구성 */
* {box-sizing: border-box;}
html {height:100%;}
body {height:100%; word-break:keep-all; background:#fff; margin: 0; }
body,input,textarea,select,button {font-family:'Pretendard', '돋움', 'Tahoma'; font-weight:500; font-size:13px; line-height:20px; color:#232323;}
table,th,h1,h2,h3,h4,h5,h6 {font-size:13px; font-weight:500;}
legend, caption {display:none;}
img,input,select,textarea {vertical-align:middle;}
em {font-style:normal;}
a {text-decoration:none; color:#232323;}
button {text-decoration:none; border:none; background:none;padding: 0;}
button:disabled { cursor: unset; }

/* 스크롤바 */
html {
    scrollbar-arrow-color: #fff;
    scrollbar-Track-Color: #fff;
    scrollbar-base-color: #b1b1b1;
    scrollbar-Face-Color: #b1b1b1;
    scrollbar-3dLight-Color: #b1b1b1;
    scrollbar-DarkShadow-Color: #b1b1b1;
    scrollbar-Highlight-Color: #b1b1b1;
    scrollbar-Shadow-Color: #b1b1b1;
}

::-webkit-scrollbar {width:4px; height: 4px; border-radius:10px; }
/*::-webkit-scrollbar-track {background-color:#fff;}*/
::-webkit-scrollbar-thumb {background-color:#b1b1b1; border-radius: 10px;}
::-webkit-scrollbar-thumb:hover {background:#b1b1b1;}
/*::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {width:16px; height:16px;}

/* 드래그 방지 */
body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}



/* 폼 기본정의 ******************************************************** */
/* input 포커스 테두리 삭제 */
::placeholder {color: rgba(35,35,35,0.4);}


/* input 기본 스타일 초기화 */
input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type=radio],
input[type=checkbox] {
    margin: 0;
}

/* select 스타일 초기화 */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* textarea 스타일 초기화 */
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}







/* 기본 클래스 ******************************************************** */
/* 기본 */
.ta-center {text-align:center !important;}
.ta-left {text-align:left !important;}
.ta-right {text-align:right !important;}
.display-block {display:block !important;}
.display-none {display:none !important;}
.border-none {border:none !important;}
.radius-none {border-radius:0 !important;}


/* 배경색 */
.bg-blue {background:#4F8EF8 !important;}
.bg-blue-light {background:#6993ff !important;}
.bg-indigo {background:#5a61f1 !important;}
.bg-purple {background:#B556FF !important;}
.bg-pink {background:#EC0745 !important;}
.bg-pink-light {background:#f64e60 !important;}
.bg-red {background:#F45859 !important;}
.bg-orange {background:#fd7e14 !important;}
.bg-yellow {background:#F39910 !important;}
.bg-green {background:#28a745 !important;}
.bg-teal {background:#4FD6C5 !important;}
.bg-cyan {background:#0CC3E1 !important;}
.bg-white {background:#fff !important;}
.bg-gray {background:#868e96 !important;}
.bg-gray-light {background:#ccc !important;}
.bg-light {background:#f8f9fa !important;}
.bg-dark {background:#343a40 !important;}
.bg-black {background:#222 !important;}


/* 폰트색상 */
.color-blue {color:#4F8EF8 !important;}
.color-blue-light {color:#6993ff !important;}
.color-indigo {color:#5a61f1 !important;}
.color-purple {color:#B556FF !important;}
.color-pink {color:#EC0745 !important;}
.color-pink-light {color:#f64e60 !important;}
.color-red {color:#F45859 !important;}
.color-orange {color:#fd7e14 !important;}
.color-yellow {color:#F39910 !important;}
.color-green {color:#28a745 !important;}
.color-teal {color:#4FD6C5 !important;}
.color-cyan {color:#0CC3E1 !important;}
.color-white {color:#fff !important;}
.color-gray {color:#868e96 !important;}
.color-light {color:#f8f9fa !important;}
.color-dark {color:#343a40 !important;}
.color-black {color:#222 !important;}


/* 라인색 */
.border-blue {border:#4F8EF8 1px solid !important;}
.border-blue-light {border:#6993ff 1px solid !important;}
.border-indigo {border:#5a61f1 1px solid !important;}
.border-purple {border:#B556FF 1px solid !important;}
.border-pink {border:#EC0745 1px solid !important;}
.border-pink-light {border:#f64e60 1px solid !important;}
.border-red {border:#F45859 1px solid !important;}
.border-orange {border:#fd7e14 1px solid !important;}
.border-yellow {border:#F39910 1px solid !important;}
.border-green {border:#28a745 1px solid !important;}
.border-teal {border:#4FD6C5 1px solid !important;}
.border-cyan {border:#0CC3E1 1px solid !important;}
.border-white {border:#fff 1px solid !important;}
.border-gray {border:#868e96 1px solid !important;}
.border-light {border:#f8f9fa 1px solid !important;}
.border-dark {border:#343a40 1px solid !important;}
.border-black {border:#222 1px solid !important;}


/* 가로사이즈 (%) */
.w100p {width:100% !important;}
.w99p {width:99% !important;}
.w95p {width:95% !important;}
.w94p {width:94% !important;}
.w93p {width:93% !important;}
.w90p {width:90% !important;}
.w89p {width:89% !important;}
.w88p {width:88% !important;}
.w87p {width:87% !important;}
.w86p {width:86% !important;}
.w85p {width:85% !important;}
.w84p {width:84% !important;}
.w83p {width:83% !important;}
.w82p {width:82% !important;}
.w81p {width:81% !important;}
.w80p {width:80% !important;}
.w79p {width:79% !important;}
.w78p {width:78% !important;}
.w77p {width:77% !important;}
.w76p {width:76% !important;}
.w75p {width:75% !important;}
.w70p {width:70% !important;}
.w68p {width:68% !important;}
.w67p {width:67% !important;}
.w66p {width:66% !important;}
.w65p {width:65% !important;}
.w60p {width:60% !important;}
.w55p {width:55% !important;}
.w50p {width:50% !important;}
.w49p {width:49% !important;}
.w48p {width:48% !important;}
.w47p {width:47% !important;}
.w46p {width:46% !important;}
.w45p {width:45% !important;}
.w42p {width:42% !important;}
.w41p {width:41% !important;}
.w40p {width:40% !important;}
.w39p {width:39% !important;}
.w38p {width:38% !important;}
.w37p {width:37% !important;}
.w36p {width:36% !important;}
.w35p {width:35% !important;}
.w34p {width:34% !important;}
.w33p {width:33% !important;}
.w32p {width:32% !important;}
.w31p {width:31% !important;}
.w30p {width:30% !important;}
.w29p {width:29% !important;}
.w28p {width:28% !important;}
.w27p {width:27% !important;}
.w26p {width:26% !important;}
.w25p {width:25% !important;}
.w24p {width:24% !important;}
.w23p {width:23% !important;}
.w22p {width:22% !important;}
.w20p {width:20% !important;}
.w19p {width:19% !important;}
.w18p {width:18% !important;}
.w17p {width:17% !important;}
.w16p {width:16% !important;}
.w15p {width:15% !important;}
.w14p {width:14% !important;}
.w10p {width:10% !important;}
.w9p {width:9% !important;}
.w8p {width:8% !important;}
.w7p {width:7% !important;}
.w6p {width:6% !important;}
.w5p {width:5% !important;}


/* 가로사이즈 (PX) */
.w10 {width:10px !important;}
.w19 {width:19px !important;}
.w20 {width:20px !important;}
.w24 {width:24px !important;}
.w25 {width:25px !important;}
.w30 {width:30px !important;}
.w35 {width:35px !important;}
.w40 {width:40px !important;}
.w42 {width:42px !important;}
.w50 {width:50px !important;}
.w52 {width:52px !important;}
.w60 {width:60px !important;}
.w70 {width:70px !important;}
.w72 {width:72px !important;}
.w75 {width:75px !important;}
.w80 {width:80px !important;}
.w82 {width:82px !important;}
.w90 {width:90px !important;}
.w100 {width:100px !important;}
.w110 {width:110px !important;}
.w120 {width:120px !important;}
.w122 {width:122px !important;}
.w140 {width:140px !important;}
.w150 {width:150px !important;}
.w152 {width:152px !important;}
.w170 {width:170px !important;}
.w172 {width:172px !important;}
.w180 {width:180px !important;}
.w182 {width:182px !important;}
.w190 {width:190px !important;}
.w200 {width:200px !important;}
.w210 {width:210px !important;}
.w220 {width:220px !important;}
.w230 {width:230px !important;}
.w240 {width:240px !important;}
.w250 {width:250px !important;}
.w252 {width:252px !important;}
.w255 {width:255px !important;}
.w280 {width:280px !important;}
.w300 {width:300px !important;}
.w310 {width:310px !important;}
.w350 {width:350px !important;}
.w400 {width:400px !important;}
.w410 {width:410px !important;}
.w450 {width:450px !important;}
.w465 {width:465px !important;}
.w500 {width:500px !important;}
.w600 {width:600px !important;}
.w610 {width:630px !important;}
.w630 {width:630px !important;}
.w650 {width:650px !important;}
.w700 {width:700px !important;}


/* 세로사이즈(%) */
.h100p {height:100% !important;}


/* 세로사이즈 */
.h30 {height:30px !important;}
.h35 {height:35px !important;}
.h40 {height:40px !important;}
.h42 {height:42px !important;}
.h50 {height:50px !important;}
.h52 {height:52px !important;}
.h55 {height:55px !important;}
.h60 {height:60px !important;}
.h70 {height:70px !important;}
.h72 {height:72px !important;}
.h80 {height:80px !important;}
.h85 {height:85px !important;}
.h82 {height:82px !important;}
.h90 {height:90px !important;}
.h100 {height:100px !important;}
.h105 {height:105px !important;}
.h110 {height:110px !important;}
.h120 {height:120px !important;}
.h122 {height:122px !important;}
.h140 {height:140px !important;}
.h150 {height:150px !important;}
.h152 {height:152px !important;}
.h170 {height:170px !important;}
.h172 {height:172px !important;}
.h180 {height:180px !important;}
.h182 {height:182px !important;}
.h190 {height:190px !important;}
.h200 {height:200px !important;}
.h210 {height:210px !important;}
.h220 {height:220px !important;}
.h230 {height:230px !important;}
.h240 {height:240px !important;}
.h250 {height:250px !important;}
.h252 {height:252px !important;}
.h255 {height:255px !important;}
.h300 {height:300px !important;}
.h310 {height:310px !important;}
.h350 {height:350px !important;}
.h400 {height:400px !important;}
.h410 {height:410px !important;}
.h450 {height:450px !important;}
.h465 {height:465px !important;}
.h500 {height:500px !important;}
.h550 {height:550px !important;}
.h600 {height:600px !important;}
.h610 {height:630px !important;}
.h630 {height:630px !important;}
.h650 {height:650px !important;}
.h700 {height:700px !important;}
.h800 {height:800px !important;}
.h850 {height:850px !important;}
.h900 {height:900px !important;}


/* 마진-상단 */
.mt0 {margin-top:0 !important;}
.mt1 {margin-top:1px !important;}
.mt2 {margin-top:2px !important;}
.mt3 {margin-top:3px !important;}
.mt4 {margin-top:4px !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt45 {margin-top:45px !important;}
.mt50 {margin-top:50px !important;}
.mt55 {margin-top:55px !important;}
.mt70 {margin-top:70px !important;}


/* 마진-하단 */
.mb0 {margin-bottom:0 !important;}
.mb5 {margin-bottom:5px !important;}
.mb8 {margin-bottom:8px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb35 {margin-bottom:35px !important;}
.mb40 {margin-bottom:40px !important;}
.mb45 {margin-bottom:45px !important;}
.mb50 {margin-bottom:50px !important;}


/* 마진-좌측 */
.ml0 {margin-left:0 !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}
.ml30 {margin-left:30px !important;}
.ml35 {margin-left:35px !important;}
.ml40 {margin-left:40px !important;}
.ml45 {margin-left:45px !important;}
.ml50 {margin-left:50px !important;}


/* 마진-우측 */
.mr0 {margin-right:0 !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr25 {margin-right:25px !important;}
.mr30 {margin-right:30px !important;}
.mr35 {margin-right:35px !important;}
.mr40 {margin-right:40px !important;}
.mr45 {margin-right:45px !important;}
.mr50 {margin-right:50px !important;}


/* 패딩-상단 */
.pt0 {padding-top:0 !important;}
.pt5 {padding-top:5px !important;}
.pt6 {padding-top:6px !important;}
.pt7 {padding-top:7px !important;}
.pt8 {padding-top:8px !important;}
.pt9 {padding-top:9px !important;}
.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pt35 {padding-top:35px !important;}
.pt40 {padding-top:40px !important;}
.pt45 {padding-top:45px !important;}
.pt50 {padding-top:50px !important;}
.pt70 {padding-top:70px !important;}


/* 패딩-하단 */
.pb0 {padding-bottom:0 !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb11 {padding-bottom:11px !important;}
.pb12 {padding-bottom:12px !important;}
.pb13 {padding-bottom:13px !important;}
.pb14 {padding-bottom:14px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;}
.pb30 {padding-bottom:30px !important;}
.pb35 {padding-bottom:35px !important;}
.pb40 {padding-bottom:40px !important;}
.pb45 {padding-bottom:45px !important;}
.pb50 {padding-bottom:50px !important;}
.pb60 {padding-bottom:60px !important;}
.pb70 {padding-bottom:70px !important;}
.pb80 {padding-bottom:80px !important;}
.pb90 {padding-bottom:90px !important;}
.pb100 {padding-bottom:100px !important;}


/* 패딩-좌측 */
.pl0 {padding-left:0 !important;}
.pl5 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl25 {padding-left:25px !important;}
.pl30 {padding-left:30px !important;}
.pl35 {padding-left:35px !important;}
.pl40 {padding-left:40px !important;}
.pl45 {padding-left:45px !important;}
.pl50 {padding-left:50px !important;}


/* 패딩-우측 */
.pr0 {padding-right:0 !important;}
.pr5 {padding-right:5px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pr25 {padding-right:25px !important;}
.pr30 {padding-right:30px !important;}
.pr35 {padding-right:35px !important;}
.pr40 {padding-right:40px !important;}
.pr45 {padding-right:45px !important;}
.pr50 {padding-right:50px !important;}


/* 폰트사이즈 */
.font11 {font-size:11px !important;}
.font12 {font-size:12px !important;}
.font14 {font-size:14px !important;}
.font16 {font-size:16px !important;}
.font18 {font-size:18px !important;}
.font20 {font-size:20px !important;}
.font25 {font-size:25px !important;}
.font26 {font-size:26px !important;}
.font27 {font-size:27px !important;}
.font28 {font-size:28px !important;}
.font29 {font-size:29px !important;}
.font30 {font-size:30px !important;}
.font35 {font-size:35px !important;}
.font40 {font-size:40px !important;}
.font45 {font-size:45px !important;}
.font50 {font-size:50px !important;}